.header{
	width: 100%;
	height: 50px;
	border-bottom: grey solid 1px;
	text-decoration: none;
	font-size: 25px;
}
.header__top .menu-wrap{
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	position: absolute;
	display: none;
}
.header__bottom{
	position: fixed;
	height: 50px;
	background-color: #fff;
	width: 100%;
	z-index: 25;
	border-bottom: solid #000 1px;
}
.header__bottom .logo{
	padding-top: 5px;
	height: 40px;
	width: 30%;
	margin-left: 20%;
	float: left;
}
.header__bottom .search{
	position: absolute;
	display: none;
}
.header__bottom .loupe, .cart{
	height: 20px;
	width: 20px;
	float: right;
	padding: 15px;
	margin-right: 5px;
}
#menu-button{
	border: 1px #000 solid;
	border-radius: 5px;
	position: absolute;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}
.menu-button__container{
}
#menu-button .bar {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}
.nav-menu__header a, span{
	text-decoration: none;
	color: #fff;
}
#nav-menu{
	background-color: #fff;
	z-index: 999;
	width: 80%;
	font-size:17px;
	font-family: cursive;
	background-color: #E6E6E6;
	display: none;
	position: fixed;
	min-height: 100%;
}
.nav-menu__header{
	padding: 17px;
	background-image: url(../img/nav-menu-background.jpg);
}
.nav-menu__header .cross{
	float: right;
}
.nav-menu__body{
	color:#000;
	padding-bottom: 100px;
}
.nav-menu__body img{
	width: 25px;
	height: 25px;
	padding: 15px;
	float: left;
}
.nav-menu__body ul{
	padding-top: 5px;
}
.nav-menu__body li{
	height: 55px;
}
.nav-menu__body li a{
	text-decoration: none;
}
.nav-menu__body span{
	text-decoration: none;
	color: #3A3E4A;
	line-height: 55px;
}
.wrapper{
	background-color: #ebebec;
}
.wrapper__center{
	background-color: #ebebec;
	width: 100%;
}
.wrapper__img{
	width: 90%;
	margin-left: 5%;
}
.wrapper__center .main-img{
	width: 100%;
}
#catalog-button{
	margin-top: 5px;
	margin-left: 5%;
  	position: relative;
    display: inline-block;
    width: 90%;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
#dicount-goods-button{
	margin-top: 10px;
	margin-left: 5%;
  	position: relative;
    display: inline-block;
    width: 90%;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #000080;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #0000FF;
    background: linear-gradient(#0000FF, #0000EE 48%, #0101DF 52%, #0B0B61);
}
.wrapper__center h5{
	text-align: center;
	padding-top: 10px;
}
.cards{
	float: left;
	width: 100%;
	background-color: #ebebec;
	}
.card{
	box-shadow: 0 1px 2px #585858;
	float: left;
	margin-top: 10px;
	background-color: #fff;
	width: 90%;
	margin-left: 5%;
	height: 200px;
}
.card__container{
	position: relative;
	padding: 10px;
}
.card__img{
	width: 45%;
	float: left;
}
.card__img img{
	width: 100%;

}
.card__info{
	font-family: Helvetica;
	color: #000;
	float: left;
	padding-left: 5%;
	width: 50%;
}
.card__info h3{
	padding-top: 10px;
}
.card__info a{
	text-decoration: none;
	color:blue;
}
.card__info span{
	font-family: Helvetica;
	color: #000;
}
.card__info .rating{
	width: 90%;
	margin-top: 5px;
	float: left;
}
.card__info .star{
	float: left;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(../img/star-grey.png);
	background-size: 20px;
}

.card__info .star-blue{
	float: left;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(../img/star-blue.png);
	background-size: 20px;
}
.card__info .cart-button{
	font-family: cambria;
	margin-top: 20px;
	display: inline-block;
    width: 8em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: #fff;
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 2px;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    box-shadow:
    0 0 3px rgba(0,0,0,0) inset,
    0 1px 1px 1px rgba(255,255,255,.2),
    0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
}
.card__info .info__price{
	padding-top: 10px;
	float: left;
	width: 90%;
}
.card__info .info__price .price{
	font-size: 12px;
	color:#424242;
}
.card__info .info__price .discounted-price{
	padding-top: 10px;
}
.card__info .price__line{
	background-color: #000;
	position: absolute;
	width: 50px;
	height: 1px;
	margin-top: 5px;
}

@media(min-width: 500px){
	.card{
		width: 42%;
	}
	.header__bottom{
		height: 70px;
	}
	.header__bottom .logo{
		margin-top: 5px;
		height: 50px;
		width: 20%;
		margin-left: 15%;
	}
}

@media(min-width: 1000px){
	.card{
		width: 26.7%;
	}
	.header__bottom{
		position: relative;
	}
	.header__bottom #menu-button{
		display: none;
	}
	.header__top .menu-wrap{
		position: relative;
		display: block;
	}

	.header__top .menu {
		float: right;
   		margin-right:10%;
	}
 
	.header__top .menu li {
	    margin:0px;
	    list-style:none;
   		font-family:'Ek Mukta';
	}
 
	.header__top .menu a {
    	transition:all linear 0.15s;
    	color:#919191;
	}
 
	.header__top .menu li:hover > a {
    	text-decoration:none;
    	color:red;
	}
	.header__top .menu .arrow {
    	font-size:11px;
    	line-height:0%;
    	color:#919191;;
	}

	.header__top .menu > ul > li {
    	float:left;
    	display:inline-block;
    	position:relative;
    	font-size:17px;
	}
 
	.header__top .menu > ul > li > a {
  		text-decoration: none;
    	padding:10px 30px;
    	display:inline-block;
	}
	.header__top .sub-menu {
    	width:100%;
    	padding:5px 0px;
    	position:absolute;
    	top:100%;
    	left:0px;
    	z-index:-1;
    	opacity:0;
    	transition:opacity linear 0.15s;
    	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	}
	.header__top .menu li:hover .sub-menu {
		background-color: #fff;
    	z-index:999;
    	opacity:1;
	}
	.header__top .sub-menu li {
    	display:block;
    	font-size:16px;
	}
 
	.header__top .sub-menu li a {
    	text-decoration: none;
    	padding:10px 30px;
    	display:block;
	}
 
	.header__top .sub-menu li a:hover, .sub-menu .current-item a {
    	background:#f2f2f2;
	}
	.header__bottom{
		height: 90px;
	}
	.header__bottom .logo{
		margin-top: 10px;
		height: 70px;
		width: 22%;
		margin-left: 7%;
	}
	.header__bottom .loupe, .cart{
		position: absolute;
		display: none;
	}
	.header__bottom .search{
		position: relative;
		display: block;
	}
	.header__bottom .search input{
		font-size: 14px;
		height: 30px;
		margin-top: 25px;
		margin-left: 30px;
		width: 35%;
		border: solid #929292 1px;
		border-radius: 2px 0px 0px 2px;
	}
	.header__bottom .search input:focus{
		outline: none;
	}
	.header__bottom .search-button{
		height: 34px;
    	position: absolute;
    	margin-top: 25px;
    	margin-left: -2px;
	}

}




